
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(78, 155, 194);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

.navbar-center {
    text-align: center;
    width: 10%;
}

form {
    padding: 20px;
}

.form-group {
    align-items: center;
    margin-top: 15px;
}

label {
    flex: 0 0 120px;
    font-weight: bold;
    margin-right: 50px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    margin-right: 20px;
    border: 1px solid #131111;
    border-radius: 20px;
    background-color:  rgb(155, 189, 207); 
    color: #fff;           
}

input[type="text"]::placeholder {
    color: #0f0d0da0;  
}

button {
    padding: 8px;
    background-color: rgb(155, 189, 207);
    border: 1px solid black;
    height: 6vh;
    width: 100px;
    margin-left: 120px; 
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(155, 189, 207);
}

table {
    height: 10vh;
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid rgb(78, 155, 194);
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgb(78, 155, 194);
    font-weight: bold;
}

td {
    background-color: #fff;
}

button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button {
    background-color: blue;
    color: white;
}

.edit-button:hover {
    background-color: darkblue;
}

.delete-button {
    background-color: red;
    color: white;
}

.delete-button:hover {
    background-color: darkred;
}
